<template>
    <div>
        <h2 class="text-center">Список чего то</h2>

        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Контент</th>
                <!-- <th>Actions</th> -->
            </tr>
            </thead>
            <tbody>
            <tr v-for="something in somethings" :key="something.id">
                <td>{{ something.id }}</td>
                <td>{{ something.name }}</td>
                <td>{{ something.content }}</td>
                <td>
                    <div class="btn-group" role="group">
                        <router-link :to="{name: 'edit', params: { id: something.id }}" class="btn btn-success">Правка</router-link>
                        <button class="btn btn-danger" @click="deleteSomething(something.id)">Удалить</button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
export default {
    data() {
        return {
            somethings: []
        }
    },
    created() {
        this.axios
            .get('/api/somethings/')
            .then(response => {
                this.somethings = response.data;
            });
    },
    methods: {
        deleteSomething(id) {
            this.axios
                .delete(` /api/somethings/${id}`)
                .then(response => {
                    let i = this.somethings.map(data => data.id).indexOf(id);
                    this.somethings.splice(i, 1)
                });
        }
    }
}
</script>
