<template>
    <div>
        <h3 class="text-center">Добавить что-то</h3>
        <div class="row">
            <div class="col-md-6">
                <form @submit.prevent="addSomething">

                    <div class="form-group">
                        <label>Название</label>
                        <input type="text" class="form-control" v-model="something.name">
                    </div>
                    <div class="form-group">
                        <label>Контент</label>
                        <input type="text" class="form-control" v-model="something.content">
                    </div>
                    <br/>
                    <button type="submit" class="btn btn-primary">Добавить</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            something: {}
        }
    },
    methods: {
        addSomething() {
            this.axios
                .post(`/api/somethings/`, this.something)
                .then(response => (
                    this.$router.push({ name: 'home' })
                ))
                .catch(err => console.log(err))
                .finally(() => this.loading = false)
        }
    }
}
</script>
