<template>
    <div>
        <h3 class="text-center">Редактирование</h3>
        <div class="row">
            <div class="col-md-6">
                <form @submit.prevent="updateSomething">
                    <div class="form-group">
                        <label>Название</label>
                        <input type="text" class="form-control" v-model="something.name">
                    </div>
                    <div class="form-group">
                        <label>Контент</label>
                        <input type="text" class="form-control" v-model="something.content">
                    </div>
                    <button type="submit" class="btn btn-primary">Обновить</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            something: {}
        }
    },
    created() {
        this.axios
            .get(`/api/somethings/${this.$route.params.id}`)
            .then((res) => {
                this.something = res.data;
            });
    },
    methods: {
        updateSomething() {
            this.axios
                .patch(`/api/somethings/${this.$route.params.id}`, this.something)
                .then((res) => {
                    this.$router.push({ name: 'home' });
                });
        }
    }
}
</script>
